@charset "utf-8";
/*CSS Document */
p{
	font-size: 16px;
	line-height: 18px;
	width: 680px;
	background-color: antiquewhite;
	padding: 20px;
}
body {
    background-image: url("MOJEEE/POZ.webp");
	background-repeat:no-repeat;
	background-size:cover;
}
.samo-tekst-centar {
    text-align: center;
}